.border-red {
    border: 2px solid red;
}
h1{
    text-align: center;
    margin: 2rem;
}
input{
    width: 200px;
}
img{
    width: 200px;
    height: 200px;
}


.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.contenedor2{
    display: flex;
    gap: 2rem;

    justify-content: center;
    margin: 0px 100px;

}
.box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.boxes{
    display: flex;
    justify-content: center;
    margin: 40px;

}
.frase{
    align-content: center;
    text-align: center;
}


/* ejercicio3 */
.contenedor3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* menu */
.nav-menu {
    display: flex;
    justify-content: center;
    background-color: #333;
    overflow: hidden;
    text-align: center;
}
.nav-menu a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-menu a:hover {
    background-color: #ddd;
    color: black;
}